*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
    margin: 5% 20% ;
}

#title{
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

img{
    display: inline-block;
    width: 100%;
}
#caption{
    font-size: 17px;
    font-family: 'Gill Sans';
    color: black;
}

#tribute-data{
    background-color: #6AEF64;
    box-shadow: 20px 20px 20px #6451EB;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}

h1.title-Gandhi{
    font-size: 35px;
    color: red;
    text-align: center;
    text-shadow: 5px 5px 10px white;
}

#atribute-link{
    text-decoration: none;
    color: black;
}